$body-ff: "Open Sans", sans-serif;
$heading-ff: "Poppins", sans-serif;

$dark-green-color: #00252E;
$silver-color: #808E9A;
$pink-color: #FF9ADB;
$sky-blue-color: #EDFBFF;
$white-color: #FFFFFF;
$btn-color: #FF52C1;